<template>
  <div class="card-list">
    <Card v-for="item in items" :key="item" />
    <Manual v-if="items.length == 0" />
  </div>
</template>

<script>
import Card from '@/components/CardComponent.vue';
import Manual from '@/components/Manual.vue';

export default {
  name: 'CardList',

  props: {
    items: Array,
  },

  components: {
    Card,
    Manual,
  },
};
</script>

<style scoped>
</style>
