<template>
  <article class="card">
    <div class="container">
      <header>
        <div class="row">
          <h1 class="title">Nombre del negocio</h1>
          <div class="icon icon-delivery">
            <IconDelivery />
          </div>
        </div>
      </header>
      <div class="content">
        <div class="row">
          <div class="icon">
            <IconAddress />
          </div>
          <span>Dirección: Calle # Colonia</span>
        </div>
        <div class="row">
          <div class="icon">
            <IconPhone />
          </div>
          <span><a class="link" href="tel:2281234567">Tel: 2281234567</a></span>
          <div class="icon">
            <IconEmail />
          </div>
          <span
            ><a class="link" href="https://sitionegocio.com"
              >sitionegocio.com</a
            ></span
          >
        </div>
        <div class="row">
          <span class="tag">etiqueta</span>
          <span class="tag">etiqueta</span>
          <span class="tag">etiqueta</span>
        </div>
      </div>
      <footer>
        <div class="row">
          <div class="icon">
            <IconClock />
          </div>
          <span class="time">Apertura: 08:00</span
          ><span class="time">Cierre: 16:00</span>
          <div class="icon icon-menu">
            <IconMenu />
          </div>
        </div>
      </footer>
    </div>
  </article>
</template>

<script>
import IconMenu from '@/assets/svg/iconmonstr-menu-11.svg';
import IconClock from '@/assets/svg/iconmonstr-time-3.svg';
import IconPhone from '@/assets/svg/iconmonstr-smartphone-3.svg';
import IconEmail from '@/assets/svg/iconmonstr-email-1.svg';
import IconAddress from '@/assets/svg/iconmonstr-map-5.svg';
import IconDelivery from '@/assets/svg/iconmonstr-delivery-3.svg';

export default {
  name: 'CardComponent',

  components: {
    IconMenu,
    IconClock,
    IconPhone,
    IconEmail,
    IconAddress,
    IconDelivery,
  },
};
</script>

<style lang="scss" scoped>
.card {
  position: relative;
  background-color: var(--color-whitest);
  border-radius: 4px;
  border: 0.2rem solid var(--color-grey);
  box-shadow: 0 0.25rem 0.25rem var(--color-grey);
  transition: all 0.5s;
  margin-bottom: 1rem;
}

.card:hover {
  border: 0.2rem solid var(--color-darkest);
}

.card .container {
  padding: 0.5rem 1rem;
}

.card a {
  color: var(--color-darkest);
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card .row {
  position: relative;
  margin: 0.15rem 0;
  padding: 0.15rem 0;
}

.card .icon {
  margin-right: 0.15rem;
}

.icon svg path {
  fill: var(--color-dark);
}

.card .icon-delivery {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 24px;
}

.card .icon-email {
  margin-left: 0.5rem;
}

.card header > div {
  display: flex;
  justify-content: space-between;
}

.card .title {
  letter-spacing: 0.1px;
  font-size: 1.5rem;
}

.card .content {
  margin-bottom: 0.75rem;
}

.card .row > span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.card .tag {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.1rem;
  background-color: var(--color-white-smoke);
  display: inline-block;
  font-size: 0.9rem;
  color: var(--color-darkest);
  font-weight: bolder;
}

.card .tag:before {
  content: '\0023';
}

.card .link {
  font-size: 0.9rem;
}

.card footer {
  border-top: 0.05rem solid var(--color-dark);
}

.card .icon-menu {
  position: absolute;
  bottom: 0.35rem;
  right: 1rem;
  height: 20px;
}
.card .time {
  margin: 0 0.25rem;
  font-size: 0.9rem;
  color: var(--color-dark-grey);
}
</style>
