<template>
  <div class="error-page">
    <div class="container">
      <h1>¡Error!</h1>
      <div class="icon"><IconError /></div>
      <div class="icon"><IconWarning /></div>
    </div>
  </div>
</template>

<script>
import IconWarning from '@/assets/svg/iconmonstr-error-4.svg';
import IconError from '@/assets/svg/iconmonstr-error-8.svg';

export default {
  name: 'ErrorPage',

  components: {
    IconWarning,
    IconError,
  },
};
</script>

<style scoped>
.container {
  margin: 0 auto;
  width: 96%;
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.8;
}
</style>
