<template>
  <div class="error-page">
    <div class="container">
      <h1>Mensaje de exito</h1>
      <div class="icon"><IconSuccess /></div>
    </div>
  </div>
</template>

<script>
import IconSuccess from '@/assets/svg/iconmonstr-check-mark-14.svg';

export default {
  name: 'SuccessPage',

  components: {
    IconSuccess,
  },
};
</script>

<style scoped>
.container {
  margin: 0 auto;
  width: 96%;
}

h1 {
  font-size: 2rem;
}

p {
  line-height: 1.8;
}
</style>
